<head> 
    {{ range .Site.Params.navlinks }}
    {{ if .home }}
    <meta http-equiv="refresh" content="0; URL={{ .url | absURL }}" />
    {{ end }}
    {{ end }}
<script src="static/js/splide.min.js"></script>
<link rel="stylesheet" href="static/css/splide.min.css">
</head>
<body>
<div class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">Slide 01</li>
			<li class="splide__slide">Slide 02</li>
			<li class="splide__slide">Slide 03</li>
		</ul>
	</div>
</div>
</body>
